<h1 id="лабораторная-2-по-моделированию">Лабораторная №2 по моделированию</h1>
<h2 id="условие-лабораторной">Условие лабораторной</h2>
<p>Дан колебательный контур с газоразрядной трубкой</p>
<p><img src="./assets/l2_scheme.png" /></p>
<p>Из некоторых физических соображений получена система дифференциальных уравнений:</p>
<figure>
<img src="./assets/2_1.png" alt="A" /><figcaption>A</figcaption>
</figure>
<figure>
<img src="./assets/2_2.png" alt="B" /><figcaption>B</figcaption>
</figure>
<p>Ее необходимо решить (численно) и построить графики:</p>
<ul>
<li>I(t) - сила тока в цепи</li>
<li>Uc(t) - напряжение на конденсаторе</li>
<li>Ucp(t) - напряжение на лампе</li>
<li>Rp(t) - сопротивление лампы</li>
</ul>
<p>Rp, оно же сопротивление газоразрядной трубки, находится в зависимости от силы тока:</p>
<p><img src="/assets/2_3.png" /></p>
<p>Давление <em>p</em> в формуле находится из следующего уравнения:</p>
<p><img src="./assets/2_4.png" /></p>
<p>Функция T(r):</p>
<p><img src="./assets/2_5.png" /></p>
<p>Электропроводность <code>σ(T, p)</code>, концентрация тяжелых частиц <code>n(T, p)</code>, а также <code>T0(I)</code> и <code>m(I)</code> заданы таблично.</p>
<h3 id="исходные-данные">Исходные данные</h3>
<p>Задается шаг по времени и количество узлов.</p>
<p>Параметры могут меняться из интерфейса. * Rk = 0.2 Ом (Сопротивление) * Lk = 60e-6 Гн (Индуктивность) * Ck = 150e-6 Ф (Емкость конденсатора) * R = 0.35 см (Радиус трубки, фигурирует в верхней границе интеграла) * p0 = 0.5 атм * Tstart = 300 К (p0 и Tstart используются в уравнении для нахождения давления p) * Tw = 2000К (Возможно, задавались другие значения, скажем, 3000К или еще что-нибудь, на результат влияет несильно) * le = 12 см (Расстояние между электродами лампы) * Uc0 = 3000 В (Напряжение на конденсаторе в начальный момент времени t = 0) * I0 = 0 .. 2 А (Сила тока в цепи в начальный момент времени t = 0)</p>
<h2 id="интерполяция-табличных-данных">Интерполяция табличных данных</h2>
<hr />
<p>Начнем с самой простой части. Для нахождения сопротивления постоянно потребуется брать данные из трех таблиц.</p>
<table>
<thead>
<tr class="header">
<th>I</th>
<th>T0</th>
<th>m</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>0.5</td>
<td>6400</td>
<td>0.40</td>
</tr>
<tr class="even">
<td>1</td>
<td>6790</td>
<td>0.55</td>
</tr>
<tr class="odd">
<td>5</td>
<td>7150</td>
<td>1.70</td>
</tr>
<tr class="even">
<td>10</td>
<td>7270</td>
<td>3.0</td>
</tr>
<tr class="odd">
<td>50</td>
<td>8010</td>
<td>11.0</td>
</tr>
<tr class="even">
<td>200</td>
<td>9185</td>
<td>32.0</td>
</tr>
<tr class="odd">
<td>400</td>
<td>10010</td>
<td>40.0</td>
</tr>
<tr class="even">
<td>800</td>
<td>11140</td>
<td>41.0</td>
</tr>
<tr class="odd">
<td>1200</td>
<td>12010</td>
<td>39.0</td>
</tr>
</tbody>
</table>
<p>Здесь все просто, используем обычную линейную интерполяцию:</p>
<p><img src="./assets/2_6.png" /> , где <code>(I0, T0)</code> и <code>(I1, T1)</code> - узлы таблицы, между которыми находится нужное значение.</p>
<p><em>Замечание. Здесь и далее при интерполяции: если нужно проинтерполировать точку, выходящую за границы данных таблицы, то нужно взять две ближайшие к ней точки. Предположим, если нужно получить T0 для I = 1500А, то из таблицы мы возьмем точки с I = 1200А и I = 800A. Формулы при этом не меняются.</em></p>
<p>Аналогично находим <code>m(I)</code> *** Также имеем еще две похожие таблицы - для электропроводности и концентрации частиц. ### Концентрация тяжелых частиц n</p>
<table>
<thead>
<tr class="header">
<th>T</th>
<th>p = 5атм</th>
<th>p = 15атм</th>
<th>p = 25атм</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>1000</td>
<td>3.62e+01</td>
<td>1.086e+02</td>
<td>1.81e+02</td>
</tr>
<tr class="even">
<td>1500</td>
<td>2.41e+01</td>
<td>7.242e+01</td>
<td>1.21e+02</td>
</tr>
<tr class="odd">
<td>2000</td>
<td>1.81e+01</td>
<td>5.431e+01</td>
<td>9.05e+01</td>
</tr>
<tr class="even">
<td>2500</td>
<td>1.45e+01</td>
<td>4.345e+01</td>
<td>7.24e+01</td>
</tr>
<tr class="odd">
<td>3000</td>
<td>1.21e+01</td>
<td>3.621e+01</td>
<td>6.04e+01</td>
</tr>
<tr class="even">
<td>3500</td>
<td>1.03e+01</td>
<td>3.104e+01</td>
<td>5.17e+01</td>
</tr>
<tr class="odd">
<td>4000</td>
<td>9.05e+00</td>
<td>2.716e+01</td>
<td>4.53e+01</td>
</tr>
<tr class="even">
<td>4500</td>
<td>8.05e+00</td>
<td>2.414e+01</td>
<td>4.02e+01</td>
</tr>
<tr class="odd">
<td>5000</td>
<td>7.24e+00</td>
<td>2.173e+01</td>
<td>3.62e+01</td>
</tr>
<tr class="even">
<td>6000</td>
<td>6.03e+00</td>
<td>1.810e+01</td>
<td>3.02e+01</td>
</tr>
<tr class="odd">
<td>7000</td>
<td>5.16e+00</td>
<td>1.550e+01</td>
<td>2.58e+01</td>
</tr>
<tr class="even">
<td>8000</td>
<td>4.49e+00</td>
<td>1.350e+01</td>
<td>2.25e+01</td>
</tr>
<tr class="odd">
<td>9000</td>
<td>3.92e+00</td>
<td>1.188e+01</td>
<td>1.99e+01</td>
</tr>
<tr class="even">
<td>10000</td>
<td>3.39e+00</td>
<td>1.044e+01</td>
<td>1.76e+01</td>
</tr>
<tr class="odd">
<td>11000</td>
<td>2.87e+00</td>
<td>9.089e+00</td>
<td>1.54e+01</td>
</tr>
<tr class="even">
<td>12000</td>
<td>2.37e+00</td>
<td>7.784e+00</td>
<td>1.34e+01</td>
</tr>
<tr class="odd">
<td>13000</td>
<td>1.94e+00</td>
<td>6.564e+00</td>
<td>1.14e+01</td>
</tr>
<tr class="even">
<td>14000</td>
<td>1.62e+00</td>
<td>5.516e+00</td>
<td>9.72e+00</td>
</tr>
<tr class="odd">
<td>15000</td>
<td>1.40e+00</td>
<td>4.695e+00</td>
<td>8.30e+00</td>
</tr>
</tbody>
</table>
<h3 id="коэффициент-электропроводности-σ">Коэффициент электропроводности σ</h3>
<table>
<thead>
<tr class="header">
<th>T</th>
<th>p = 5атм</th>
<th>p = 15атм</th>
<th>p = 25атм</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>2000</td>
<td>0.525e-3</td>
<td>0.309e-3</td>
<td>0.239e-3</td>
</tr>
<tr class="even">
<td>3000</td>
<td>0.525e-2</td>
<td>0.309e-2</td>
<td>0.239e-2</td>
</tr>
<tr class="odd">
<td>4000</td>
<td>0.525e-1</td>
<td>0.309e-1</td>
<td>0.239e-1</td>
</tr>
<tr class="even">
<td>5000</td>
<td>0.442e+0</td>
<td>0.270e+0</td>
<td>0.214e+0</td>
</tr>
<tr class="odd">
<td>6000</td>
<td>0.283e1</td>
<td>0.205e1</td>
<td>0.175e1</td>
</tr>
<tr class="even">
<td>7000</td>
<td>0.741e1</td>
<td>0.606e1</td>
<td>0.545e1</td>
</tr>
<tr class="odd">
<td>8000</td>
<td>0.138e2</td>
<td>0.120e2</td>
<td>0.111e2</td>
</tr>
<tr class="even">
<td>9000</td>
<td>0.220e2</td>
<td>0.199e2</td>
<td>0.188e2</td>
</tr>
<tr class="odd">
<td>10000</td>
<td>0.317e2</td>
<td>0.296e2</td>
<td>0.284e2</td>
</tr>
<tr class="even">
<td>11000</td>
<td>0.428e2</td>
<td>0.411e2</td>
<td>0.399e2</td>
</tr>
<tr class="odd">
<td>12000</td>
<td>0.547e2</td>
<td>0.541e2</td>
<td>0.533e2</td>
</tr>
<tr class="even">
<td>13000</td>
<td>0.664e2</td>
<td>0.677e2</td>
<td>0.677e2</td>
</tr>
<tr class="odd">
<td>14000</td>
<td>0.769e2</td>
<td>0.815e2</td>
<td>0.825e2</td>
</tr>
<tr class="even">
<td>15000</td>
<td>0.861e2</td>
<td>0.938e2</td>
<td>0.965e2</td>
</tr>
<tr class="odd">
<td>16000</td>
<td>0.941e2</td>
<td>0.105eЗ</td>
<td>0.109eЗ</td>
</tr>
<tr class="even">
<td>17000</td>
<td>0.102eЗ</td>
<td>0.115eЗ</td>
<td>0.120eЗ</td>
</tr>
<tr class="odd">
<td>18000</td>
<td>0.112eЗ</td>
<td>0.124eЗ</td>
<td>0.131e3</td>
</tr>
<tr class="even">
<td>19000</td>
<td>0.126eЗ</td>
<td>0.135e3</td>
<td>0.142eЗ</td>
</tr>
<tr class="odd">
<td>20000</td>
<td>0.149eЗ</td>
<td>0.150eЗ</td>
<td>0.154eЗ</td>
</tr>
</tbody>
</table>
<p>Здесь необходима интерполяция по двум переменным: линейная интерполяция по давлению и логарифмическая - по температуре.</p>
<p><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Bilinear_interpolation.png/220px-Bilinear_interpolation.png" /> Картинка с википедии “для ясности” * Определяете “квадрат”, в котором необходимо интерполировать * Интерполируете по одной из осей (по аналогии с рисунком выше - находим значения R1 и R2 * Интерполируете по второй оси и получаете нужное значение</p>
<p>Я сначала интерполирую по температуре (хотя лучше было бы сначала по давлению, но кого это волнует?).</p>
<p>От обычной линейной интерполяции эта отличается лишь тем, что интерполируем мы не значение функции f(x), а ее логарифм - log(f(x)). Затем нужно взять экспоненту и получится искомый результат.</p>
<p><img src="./assets/2_7.png" /></p>
<p><img src="./assets/2_8.png" /></p>
<p>Две формулы выше отличаются только значением давления (условно говоря, находим точку слева и точку справа).</p>
<p>И теперь интерполируем по второй оси:</p>
<p><img src="./assets/2_9.png" /></p>
<p>Все то же самое происходит для второй таблицы σ.</p>
<p><em>Замечание. В идеале будет не считать логарифмы каждый раз, а завести вторую таблицу, в которой хранить заранее посчитанные логарифмы.</em></p>
<h2 id="нахождение-rpi">Нахождение Rp(I)</h2>
<hr />
<p><strong>Силу тока надо брать по модулю, она может быть отрицательной!</strong></p>
<p>Для нахождения <em>Rp</em> необходимо воспользоваться данной формулой:</p>
<p><img src="./assets/2_10.png" /> Однако в ней нам неизвестно давление <em>p</em>. Оно находится из следующего уравнения:</p>
<p><img src="./assets/2_11.png" /></p>
<p>В этом уравнении все величины заданы, неизвестно лишь <em>p</em>.</p>
<p>Это уравнение вида f(x) = 0 можно решить методом дихотомии.</p>
<p><em>Замечание. Я не буду детально описывать метод половинного деления, потому что… ну просто не буду, и все.</em></p>
<p>Сначала необходимо локализовать корень, т.е. найти границы отрезка, гарантированно содержащего корень. Я, чтобы точно не пропустить корень, начинаю искать отрезок с <em>p = 1</em> с шагом <em>h = 1</em>. Нам нужно найти такой отрезок, чтобы у функции на его концах были разные знаки, т.е. <code>f(p) * f(p+h) &lt; 0</code>. После этого сокращаем интервал половинным делением, пока не достигнем нужной точности.</p>
<p><strong>О точности решения уравнения</strong></p>
<p>Часто в цикле пишут условие вида <em>while |r - l| &gt; ε</em>. Таким образом мы задаем <em>абсолютную</em> точность, и это некошерно. Лучше задавать <em>относительную</em> точность, т.е. условие будет выглядеть как <em>while |(r-l)/x| &gt; ε</em>, где <em>x = (r + l) / 2</em>. Градов мне делал внушение на эту тему на втором курсе, возможно, в этот раз тоже вспомнит.</p>
<p><strong>Вычисление интеграла</strong></p>
<p>Каждый раз при вычислении функции нам необходимо считать интеграл</p>
<p><img src="./assets/2_12.png" /></p>
<p>Для этого воспользуемся методом Симпсона</p>
<p><img src="https://wikimedia.org/api/rest_v1/media/math/render/svg/66c8c4e7dbfcaf9b3045745b4fd7b9240f1cae71" /></p>
<p>Вообще для данного метода нужно любое нечетное количество узлов, но повелением свыше интеграл считается с использованием <strong>41</strong> узла. В начале вычисления сопротивления <em>Rp</em> (а именно ради него все это происходит, если кто забыл) стоит завести массив температур <em>T( r )</em> из 41 элемента. Температура высчитывается по формуле:</p>
<p><img src="./assets/2_13.png" />, где <em>T0</em> и <em>m</em> считаются из таблицы (ага! именно здесь проявляется зависимость Rp от силы тока I), а Tw и R - константы. Теперь можно считать интеграл по данной формуле Симпсона. <em>n(T, p)</em> получается опять-таки из табличных значений. *** После решения уравнения полученное значение давления <em>p</em> можно подставить в формулу для Rp:</p>
<p><img src="./assets/2_14.png" /></p>
<p>Интеграл в ней считается аналогичным образом, массив температур можно использовать тот же самый, а σ(T, p) берется опять-таки из таблицы.</p>
<h3 id="краткое-повторение-вышеописанного">Краткое повторение вышеописанного</h3>
<hr />
<ol type="1">
<li>Составить массив температур для интегрирования</li>
<li>Решить уравнение с интегралом для получения p</li>
<li>Подставить p в итоговую формулу и получить Rp</li>
</ol>
<h2 id="решение-системы-оду">Решение системы ОДУ</h2>
<hr />
<p>Наконец мы добрались непосредственно до решения дифференциальных уравнений. По условию необходимо реализовать два метода: метод Рунге-Кутта 4 порядка и неявный метод трапеций.</p>
<p>В обоих методах начальные значения I0 и Uc0 заданы в исходных данных.</p>
<h3 id="метод-рунге-кутта-4-порядка-для-системы-оду">Метод Рунге-Кутта 4 порядка для системы ОДУ</h3>
<hr />
<p><em>Замечание. Посмотреть метод в общем виде можно в <a href="http://www.codenet.ru/progr/alg/Runge-Kutt-Method/">гугле</a> или в лекциях.</em></p>
<p>Для начала выразим значения производных <code>dI/dt</code> и <code>dUc/dt</code> и для удобства обозначим их соответсвенно <code>f</code> и <code>g</code>.</p>
<p><img src="./assets/2_15.png" /></p>
<p><img src="./assets/2_16.png" /></p>
<p>Решение системы заключается в применении формул:</p>
<p><img src="./assets/2_17.png" /> <img src="./assets/2_18.png" /></p>
<p>Коэффициенты k, m считаются следующим образом:</p>
<p><img src="./assets/2_19.png" /></p>
<p><img src="./assets/2_20.png" /></p>
<p><img src="./assets/2_21.png" /></p>
<p><img src="./assets/2_22.png" /></p>
<p>Помимо <code>I(t)</code> и <code>Uc(t)</code>, которые тут вычисляются, надо также вывести: * <code>Rp(t)</code> - по сути, это просто значение сопротивления <em>Rp</em> для соответствующего значения силы тока <em>I</em> * <code>Ucp(t)</code> - это напряжение на трубке, считается как <em>Ucp = I * Rp</em></p>
<h3 id="неявный-метод-трапеций">Неявный метод трапеций</h3>
<hr />
<p>Этот метод неявный и считается более устойчивым, однако тут будет всякая непотребная математика.</p>
<p>Возьмем уже знакомые уравнения:</p>
<p><img src="./assets/2_23.png" /></p>
<p><img src="./assets/2_24.png" /></p>
<p>Запишем выражения для метода:</p>
<p><img src="./assets/2_25.png" /></p>
<p><img src="./assets/2_26.png" /></p>
<p>Подставим выражения <em>f</em> и <em>g</em>:</p>
<p><img src="./assets/2_27.png" /></p>
<p><img src="./assets/2_28.png" /></p>
<p>Ну зашибись (на самом деле нет), получили систему с двумя неизвестными: <code>In+1</code> и <code>Ucn+1</code>. Теперь нужно подставить выражение для <code>Ucn+1</code> из второго уравнения в первое. Получившийся трэш надо решить относительно <code>In+1</code>. Я забил это добро в вольфрам и получил следующий результат:</p>
<p><img src="./assets/2_29.png" /></p>
<p>Но и это еще не все: можно заметить, что в правой части фигурирует <code>Rp(In+1)</code>. Фактически, мы получили уравнение вида x = f(x). Решить данное уравнение можно методом простой итерации:</p>
<p><img src="./assets/2_30.png" /></p>
<p>Сначала в правую часть подставляется уже известный In. Полученное значение снова подставляем в правую часть и получаем уже новое значение, более точное. Операцию повторяем до тех пор, пока не будет достигнута необходимая точность (как ранее в методе половинного деления, но здесь наше условие выглядит как while <img src="http://www.matheboard.de/latex2png/latex2png.php?%7C(I%5E%7B(s)%7D-I%5E%7B(s-1)%7D)/I%5E%7B(s)%7D%7C%3E\varepsilon" />.</p>
<p>После получения <code>In+1</code> находим <code>Ucn+1</code> по ранее указанной формуле:</p>
<p><img src="./assets/2_31.png" /></p>
<p>И не забываем про значения Rp и Ucp.</p>
<h2 id="как-выглядит-решение">Как выглядит решение</h2>
<p>Для шага 1e-5 и 70 узлов</p>
<p><img src="http://meson.ad-l.ink/82wtR2DNh/image.png" /></p>
