<h1 id="лабораторная-работа-4-по-моделированию">Лабораторная работа №4 по моделированию</h1>
<h2 id="постановка-задачи">Постановка задачи</h2>
<h4 id="слава-ктулху-линеаризацию-можно-не-использовать-что-весьма-ощутимо-облегчает-лабу.">Слава Ктулху, линеаризацию можно не использовать, что весьма ощутимо облегчает лабу.</h4>
<p><strong>Везде в руководстве под переменной <code>y</code> подразумевается температура <code>T</code>.</strong></p>
<p>Эта лабораторная является усложненным вариантом третьей лабораторной. В 3-ей необходимо было решить так называемую стационарную задачу - т.е. найти уже установившуюся температуру на всей длине стержня. В этой работе появляется зависимость от времени - необходимо как бы проследить весь процесс нагрева стержня. На выходе нужно построить график с изолиниями: каждая линия соответствует нагреву стержня в определенный момент времени.</p>
<p><img src="./assets/l4_example.png" /></p>
<p><em>На графике не надо строить все шаги, их может быть в районе тысячи, а то и двух.</em></p>
<p><em>Решение должно сходиться к стационарной задаче (той, что в предыдущей работе). На картинке выше оно выделено зеленым цветом. Для его получения можно, например, использовать тот же самый код, но сделать теплоемкость равной нулю.</em></p>
<p>Исходные данные: * l = 10см (Длина стержня) * R = 0.5см (Радиус стержня) * Tenv = 300К (Температура окружающей среды) * F0 = 100 Вт / (см^2 * К) (Плотность теплового потока) * ?0 = 1e-2 Вт / (см^2 * К) (Коэффициент теплоотдачи в начале стержня) * ?N = 0.9e-2 Вт / (см^2 * К) (Коэффициент теплоотдачи в конце стержня)</p>
<p>Также необходимо самостоятельно найти зависимости объемной теплоемкости C(T) и коэффициента теплопроводности k(T) от температуры для какого-нибудь материала. Я брал данные для вольфрама (ниже будет табличка)</p>
<p><em>Замечание. Для коэффициента теплопроводности может использоваться как <code>k</code>, так и <code>?</code>, я использую <code>k</code>, потому что мне так проще.</em></p>
<p>Исходное уравнение выглядит следующим образом:</p>
<p><img src="http://latex.codecogs.com/gif.latex?C(T)\frac%7B\partial&amp;space;T%7D%7B\partial&amp;space;t%7D=\frac%7B\partial&amp;space;%7D%7B\partial&amp;space;x%7D\left&amp;space;(&amp;space;k(T)\frac%7B\partial&amp;space;T%7D%7B\partial&amp;space;x%7D&amp;space;\right&amp;space;)-\frac%7B2\alpha(x)%7D%7BR%7DT(x)+\frac%7B2\alpha(x)%7D%7BR%7D*T_%7Benv%7D" /></p>
<p>Исходные граничные условия не изменились:</p>
<p><img src="./assets/2.png" /></p>
<p><img src="./assets/3.png" /></p>
<h2 id="концепция-решения">Концепция решения</h2>
<p>Функция, производящая вычисления, будет иметь два вложенных цикла. Внешний цикл - по времени, итогом каждой его итерации будет массив значений T(x) в данный момент времени. Во внутреннем цикле методом простых итераций будет находиться этот самый массив T(x). * Внешний цикл * * Внутренний цикл * * Вычисляем граничные условия * * Вычисляем массивы коэффициентов для прогонки * * Выполняем прогонку и получаем новый массив <code>T(x)</code> * * Выход из цикла, если <code>max|T(x) - T_предыдущее(x)|/T(x) &lt; ?</code> - т.е. находим максимально изменившийся элемент, и смотрим, насколько велико это изменение * Добавляем в решение очередной массив <code>T(x)</code> * Выход из цикла, если <code>max|T(x) - T_предыдущее(x)|/T(x) &lt; ?</code> - т.е. завершаем вычисления, если нагрев настолько замедлился, что максимальное изменение температуры за шаг времени достаточно мало</p>
<p>## Теплоемкость и теплопроводность</p>
<p>Необходимо выбрать какой-нибудь реальный материал и использовать данные для него. В отличие от 3 лабораторной, здесь коэффициент теплопроводности <code>k</code> зависит от температуры, а не напрямую от координаты. Работа предполагает два варианта задания теплопроводности:</p>
<p>В виде функции: <img src="http://latex.codecogs.com/gif.latex?k(T)&amp;space;=&amp;space;k_0*\left(\frac%7BT%7D%7B\theta%7D\right)%5E%7Bm%7D;\theta=300K" />. Коэффициенты <code>k0</code> и <code>m</code> надо как-нибудь подобрать, чтобы они соответствовали выбранному материалу. По мне это все отдает шаманством, и я это не использовал.</p>
<p>В виде таблицы: при некотором желании несложно нагуглить таблицы теплопроводности и теплоемкости для нужного материала. Я выбрал вольфрам; другой неплохой вариант - сапфировый стержень, но найти данные для него - задача сомнительной выполнимости.</p>
<p>_Важно: нужна именно объемная теплоемкость. В таблицах в основном дается массовая теплоемкость с размерностью Дж/(кг*К). Соответственно для получения объемной теплоемкости надо массовую теплоемкость умножить на плотность. Также важно не перепутать размерности и получить теплоемкость на кубический сантиметр, а не кубический метр (чтобы сошлись все размерности в уравнении)._</p>
<p>Соответсвенно, когда нам надо посчитать коэффициент для определенной температуры, мы просто интерполируем данные из таблицы, как делали это во второй лабораторной.</p>
<p><em>Данные для вольфрама.</em></p>
<table>
<thead>
<tr class="header">
<th>T, K</th>
<th>C, Дж/(см^3*К)</th>
<th>k, Вт/(см*К)</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>300</td>
<td>2.544</td>
<td>0.163</td>
</tr>
<tr class="even">
<td>400</td>
<td>2.615</td>
<td>0.156</td>
</tr>
<tr class="odd">
<td>500</td>
<td>2.656</td>
<td>0.146</td>
</tr>
<tr class="even">
<td>600</td>
<td>2.689</td>
<td>0.137</td>
</tr>
<tr class="odd">
<td>700</td>
<td>2.717</td>
<td>0.130</td>
</tr>
<tr class="even">
<td>800</td>
<td>2.748</td>
<td>0.124</td>
</tr>
<tr class="odd">
<td>900</td>
<td>2.783</td>
<td>0.120</td>
</tr>
<tr class="even">
<td>1000</td>
<td>2.817</td>
<td>0.117</td>
</tr>
<tr class="odd">
<td>1200</td>
<td>2.893</td>
<td>0.114</td>
</tr>
<tr class="even">
<td>1400</td>
<td>2.977</td>
<td>0.111</td>
</tr>
<tr class="odd">
<td>1600</td>
<td>3.070</td>
<td>0.110</td>
</tr>
<tr class="even">
<td>1800</td>
<td>3.124</td>
<td>0.109</td>
</tr>
<tr class="odd">
<td>2000</td>
<td>3.270</td>
<td>0.108</td>
</tr>
<tr class="even">
<td>2200</td>
<td>3.381</td>
<td>0.107</td>
</tr>
<tr class="odd">
<td>2400</td>
<td>3.502</td>
<td>0.107</td>
</tr>
<tr class="even">
<td>2600</td>
<td>3.640</td>
<td>0.107</td>
</tr>
<tr class="odd">
<td>2800</td>
<td>3.792</td>
<td>0.109</td>
</tr>
<tr class="even">
<td>3000</td>
<td>3.968</td>
<td>0.108</td>
</tr>
</tbody>
</table>
<p>## Разностная схема и коэффициенты для прогонки</p>
<p><em>Замечание. Галочкой сверху обозначается, что переменная берется в следующий момент времени, соответственно, без галочки - в предыдущий момент времени:</em> <img src="http://latex.codecogs.com/gif.latex?y_n&amp;space;=&amp;space;y(x_n,&amp;space;t_m);\widehat%7By%7D_n&amp;space;=&amp;space;y(x_n,&amp;space;t_%7Bm+1%7D)" /></p>
<p>Как и в предыдущей работе, для получения разностной схемы, используем интегро-интерполяционный метод, однако здесь интегрируем на ячейке по двум переменным: по координате <code>x</code> и по времени <code>t</code>.</p>
<p><img src="http://latex.codecogs.com/gif.latex?\int_%7Bx_%7Bn-1/2%7D%7D%5E%7Bx_%7Bn+1/2%7D%7Ddx\int_%7Bt_m%7D%5E%7Bt_%7Bm+1%7D%7DC(T)\frac%7B\partial&amp;space;T%7D%7B\partial&amp;space;t%7Ddt=\int_%7Bt_m%7D%5E%7Bt_%7Bm+1%7D%7Ddt\int_%7Bx_%7Bn-1/2%7D%7D%5E%7Bx_%7Bn+1/2%7D%7D\left&amp;space;(\frac%7B\partial&amp;space;%7D%7B\partial&amp;space;x%7D\left&amp;space;(&amp;space;k(T)\frac%7B\partial&amp;space;T%7D%7B\partial&amp;space;x%7D&amp;space;\right&amp;space;)-\frac%7B2\alpha(x)%7D%7BR%7DT(x)+\frac%7B2\alpha(x)%7D%7BR%7D*T_%7Benv%7D\right&amp;space;)" /></p>
<p>Для начала левую часть проинтегрируем по времени (обратите внимание, что <code>dt</code> там сокращаются). Правую часть проинтегрируем по <code>x</code> - фактически, мы уже сделали это в 3 лабораторной, поэтому воспользуемся результатами оттуда:</p>
<p><img src="http://latex.codecogs.com/gif.latex?\int_%7Bx_%7Bn-1/2%7D%7D%5E%7Bx_%7Bn+1/2%7D%7D\widehat%7BC%7D(\widehat%7By%7D-y)dx=\int_%7Bt_m%7D%5E%7Bt_%7Bm+1%7D%7D\left(X_%7Bn-1/2%7D\frac%7By_%7Bn-1%7D-y_n%7D%7Bh%7D-X_%7Bn+1/2%7D\frac%7By_n-y_%7Bn+1%7D%7D%7Bh%7D-p_nhy_n+f_nh\right)dt" /></p>
<p>Теперь проинтегрируем по оставшимся переменным. Слева используем метод средних прямоугольников. Справа возьмем значение не в середине интервала, а в следующий момент времени <code>t_m+1</code>. <em>Получится так называемая <strong>чисто неявная схема</strong> - ведь нам пока неизвестны эти самые значения в следующий момент времени. Для их нахождения мы и используем метод итераций во внутреннем цикле. Если бы мы взяли значения в момент <code>t_m</code>, то есть в предыдущий момент времени, то получилась бы <strong>чисто явная схема</strong>. Также возможны смешанные варианты, например, среднее от значений в предыдущий и следующий момент времени.</em></p>
<p><img src="http://latex.codecogs.com/gif.latex?\widehat%7BC%7D_n(\widehat%7By%7D_n-y_n)h=\tau\widehat%7BX%7D_%7Bn-1/2%7D\frac%7B\widehat%7By%7D_%7Bn-1%7D-\widehat%7By%7D_n%7D%7Bh%7D-\tau\widehat%7BX%7D_%7Bn+1/2%7D\frac%7B\widehat%7By%7D_n-\tau\widehat%7By%7D_%7Bn+1%7D%7D%7Bh%7D-\tau&amp;space;p_nh\widehat%7By%7D_n+\tau&amp;space;f_nh" /></p>
<p><em><code>?</code> - шаг по времени.</em></p>
<h3 id="формулы">Формулы</h3>
<p>Преобразуем к виду, подходящему для прогонки, то есть:</p>
<p><img src="http://latex.codecogs.com/gif.latex?\widehat%7BA%7D_n\widehat%7By%7D_%7Bn-1%7D-\widehat%7BB%7D_n\widehat%7By%7D_n+\widehat%7BD%7D_n\widehat%7By%7D_%7Bn+1%7D=-\widehat%7BF%7D_n" /></p>
<p><em>Буквы немного отличаются от тех, что предыдущей работе, это из-за наличия теплоемкости, которая обозначается буквой <code>C</code>. Галочки, как и раньше, обозначают, что переменные берутся в новый момент времени.</em></p>
<p><img src="http://latex.codecogs.com/gif.latex?\widehat%7BA%7D_n&amp;space;=&amp;space;\tau\frac%7B\widehat%7BX%7D_%7Bn-1/2%7D%7D%7Bh%7D" /></p>
<p><img src="http://latex.codecogs.com/gif.latex?\widehat%7BD%7D_n&amp;space;=&amp;space;\tau\frac%7B\widehat%7BX%7D_%7Bn+1/2%7D%7D%7Bh%7D" /></p>
<p><img src="http://latex.codecogs.com/gif.latex?\widehat%7BB%7D_n=\widehat%7BA%7D_n+\widehat%7BD%7D_n+p_nh\tau+\widehat%7BC%7D_nh" /></p>
<p><img src="http://latex.codecogs.com/gif.latex?\widehat%7BF%7D_n=\widehat%7BC%7D_nhy_n+f_nh\tau" /></p>
<p>..где:</p>
<p><img src="http://latex.codecogs.com/gif.latex?\widehat%7BX%7D_%7Bn-1/2%7D=\frac%7B\widehat%7Bk%7D_%7Bn-1%7D+\widehat%7Bk%7D_n%7D%7B2%7D;\widehat%7BX%7D_%7Bn+1/2%7D=\frac%7B\widehat%7Bk%7D_n+\widehat%7Bk%7D_%7Bn+1%7D%7D%7B2%7D" /></p>
<p><img src="http://latex.codecogs.com/gif.latex?\widehat%7Bk%7D_n=k(\widehat%7BT%7D_n);\widehat%7BT%7D_n=\widehat%7BT%7D(x_n)" /></p>
<p><img src="http://latex.codecogs.com/gif.latex?p_n=\frac%7B2\alpha(x_n)%7D%7BR%7D" /></p>
<p><img src="http://latex.codecogs.com/gif.latex?f_n=\frac%7B2\alpha(x_n)%7D%7BR%7DT_%7Benv%7D" /></p>
<h2 id="граничные-условия">Граничные условия</h2>
<p>Несмотря на то, что исходные краевые условия не изменились, изменившееся условие даст новый вид разностного аналога краевых условий.</p>
<p>Получаем же их тем же методом, что и в прошлой работе: интегрируем на половине первого и на половине последнего интервалов (а также на ячейке по времени):</p>
<p><img src="http://latex.codecogs.com/gif.latex?\int_%7Bx_0%7D%5E%7Bx_%7B1/2%7D%7Ddx\int_%7Bt_m%7D%5E%7Bt_%7Bm+1%7D%7DC(T)\frac%7B\partial&amp;space;T%7D%7B\partial&amp;space;t%7Ddt=\int_%7Bt_m%7D%5E%7Bt_%7Bm+1%7D%7Ddt\int_%7Bx_0%7D%5E%7Bx_%7B1/2%7D%7D\left(\frac%7B\partial%7D%7B\partial&amp;space;x%7D\left(k(T)\frac%7B\partial&amp;space;T%7D%7B\partial&amp;space;x%7D\right)-\frac%7B2\alpha(x)%7D%7BR%7DT(x)+\frac%7B2\alpha(x)%7D%7BR%7D*T_%7Benv%7D\right&amp;space;)" /></p>
<p>Для правой части можно воспользоваться уже выведенным условием в третьей работе, а для интегрирования по времени опять возьмем значение в новый момент времени.</p>
<p>Левую же часть проинтегрируем в два этапа - сначала по времени:</p>
<p><img src="http://latex.codecogs.com/gif.latex?\int_%7Bx_0%7D%5E%7Bx_%7B1/2%7D%7Ddx\int_%7Bt_m%7D%5E%7Bt_%7Bm+1%7D%7DC(T)\frac%7B\partial&amp;space;T%7D%7B\partial&amp;space;t%7Ddt=\int_%7Bx_0%7D%5E%7Bx_%7B1/2%7D%7D\widehat%7BC%7D(\widehat%7By%7D-y)dx" /></p>
<p>А затем по иксу, используя метод трапеций:</p>
<p><img src="http://latex.codecogs.com/gif.latex?\int_%7Bx_0%7D%5E%7Bx_%7B1/2%7D%7D\widehat%7BC%7D(\widehat%7By%7D-y)dx=\frac%7Bh%7D%7B4%7D(\widehat%7BC%7D_%7B1/2%7D(\widehat%7BT%7D_%7B1/2%7D-T_%7B1/2%7D)+\widehat%7BC%7D_0(\widehat%7BT%7D_0-T_0))" /></p>
<p>Я опущу полный процесс вывода (потому что сам его не делал, просто добавил нужные множители и слагаемые в уже имеющиеся формулы для краевых условий).</p>
<p>Итак, в итоге имеем краевое условие вида</p>
<p><img src="http://latex.codecogs.com/gif.latex?\widehat%7BK%7D_0\widehat%7By%7D_0+\widehat%7BM%7D_0\widehat%7By%7D_1=\widehat%7BP%7D_0" /></p>
<p>С коэффициентами:</p>
<p><img src="http://latex.codecogs.com/gif.latex?\widehat%7BK%7D_0=\tau(\frac%7B\widehat%7BX%7D_%7B1/2%7D%7D%7Bh%7D+\frac%7Bh%7D%7B8%7Dp_%7B1/2%7D+\frac%7Bh%7D%7B4%7Dp_0)+\frac%7Bh%7D%7B4%7D\widehat%7BC%7D_0+\frac%7Bh%7D%7B8%7D\widehat%7BC%7D_%7B1/2%7D" /></p>
<p><img src="http://latex.codecogs.com/gif.latex?\widehat%7BM%7D_0=\tau(\frac%7Bh%7D%7B8%7Dp_%7B1/2%7D-\frac%7B\widehat%7BX%7D_%7B1/2%7D%7D%7Bh%7D)+\frac%7Bh%7D%7B8%7D\widehat%7BC%7D_%7B1/2%7D" /></p>
<p><img src="http://latex.codecogs.com/gif.latex?\widehat%7BP%7D_0=\tau&amp;space;F_0+\tau&amp;space;\frac%7Bh%7D%7B8%7D(3f_0+f_1)+\frac%7Bh%7D%7B4%7D\widehat%7BC%7D_0y_0+\frac%7Bh%7D%7B8%7D\widehat%7BC%7D_%7B1/2%7D(y_0+y_1)" /></p>
<p><em>NB! В <code>P0</code> используется <code>y0</code> и <code>y1</code> без галочки, то есть в <strong>предыдущий</strong> момент времени. С точки зрения программы - значение из массива с предыдущей итерации внешнего цикла.</em></p>
<p>С правой частью все аналогично, только интегрируем на половине последнего шага.</p>
<p><img src="http://latex.codecogs.com/gif.latex?\widehat%7BK%7D_N=-\tau\left(\frac%7B\widehat%7BX%7D_%7BN-1/2%7D%7D%7Bh%7D+\alpha_N+\frac%7Bh%7D%7B4%7Dp_N+\frac%7Bh%7D%7B8%7Dp_%7BN-1/2%7D\right)&amp;space;+\frac%7Bh%7D%7B4%7D\widehat%7BC%7D_N+\frac%7Bh%7D%7B8%7D\widehat%7BC%7D_%7BN-1/2%7D" /></p>
<p><img src="http://latex.codecogs.com/gif.latex?\widehat%7BM%7D_N=\tau\left(\frac%7B\widehat%7BX%7D_%7BN-1/2%7D%7D%7Bh%7D-\frac%7Bh%7D%7B8%7Dp_%7BN-1/2%7D\right)&amp;space;+\frac%7Bh%7D%7B8%7D\widehat%7BC%7D_%7BN-1/2%7D" /></p>
<p><img src="http://latex.codecogs.com/gif.latex?\widehat%7BP%7D_N=-\alpha_NT_%7Benv%7D\tau-\tau\frac%7Bh%7D%7B8%7D(3f_N+f_%7BN-1%7D)+\frac%7Bh%7D%7B4%7D\widehat%7BC%7D_Ny_N+\frac%7Bh%7D%7B8%7D\widehat%7BC%7D_%7BN-1/2%7D(y_N+y_%7BN-1%7D)" /></p>
<h2 id="итерации">Итерации</h2>
<p>Для получения нагрева в следующий момент времени необходимо использовать метод итераций:</p>
<p><img src="http://latex.codecogs.com/gif.latex?\widehat%7BA%7D_n%5E%7B(s-1)%7D\widehat%7By%7D_%7Bn-1%7D%5E%7B(s)%7D-\widehat%7BB%7D_n%5E%7B(s-1)%7D\widehat%7By%7D_n%5E%7B(s)%7D+\widehat%7BD%7D_n%5E%7B(s-1)%7D\widehat%7By%7D_%7Bn+1%7D%5E%7B(s)%7D=-\widehat%7BF%7D%5E%7B(s-1)%7D_n" /></p>
<p>То есть вычислять коэффициенты для прогонки, используя полученное на предыдущем шаге приближение, чтобы получить новое решение. Повторять, пока максимальное изменение не станет достаточно мало.</p>
